@using System.Collections.Specialized
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@Html.ActionLink("New mesage", "Create", "Guestbook")


@foreach (var entry in ViewBag.Entries)
{
    <section class="contact">
        <header>
            <h3>@entry.Message</h3>
        </header>
        <p>Posted by @entry.Name on @entry.DateAdded.ToLongDateString()</p>
    </section>
}
