@using System.Collections.Specialized
@using mvc_one.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@Html.ActionLink("New mesage", "Create", "Guestbook")


@foreach (GuestbookEntry entry in ViewBag.Entries)
{   
    <section class="contact">
        <header>
            
            <h3>
                @Html.ActionLink(entry.Message, "Show", "Guestbook", entry,null);
            </h3>

        </header>
        <p>Posted by @entry.Name on @entry.DateAdded.ToLongDateString()</p>
    </section>
}
